#lyric-barn-content {
  display: block;
  width: 100%;
  height: 100vh;
  max-width: 1080px;
  background: #000;
  padding: 30px 50px;
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  box-shadow: 20px 20px 60px #000, -20px -20px 60px #000;
}

.ql-editor.ql-blank::before {
  color: #787878 !important;
  content: attr(data-placeholder) !important;
}

.ql-picker-options {
  height: 200px;
  overflow-x: hidden;
}

#lyric-title {
  width: 200px;
  padding: 4px 8px;
  font-size: 14px;
  border: 1px solid #3c3c3c;
  border-radius: 6px;
  height: 37px !important;
}
#wordInput {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #3c3c3c;
  border-radius: 6px;
  margin-right: 10px;
}
.rhymingWord:hover {
  background: #27272a;
  color: #fff;
  cursor: pointer;
}
#lyric-barn-findRhyme {
  width: 150px;
  background: #27272a;
  padding: 4px 12px;
  display: block;
  border-radius: 6px;
  font-size: 14px;
  height: 37px !important;
  line-height: 0;
  border: 1px solid rgb(68, 68, 68);
}
#lyric-barn-findRhymeClear {
  width: 110px;
  background: #27272a;
  padding: 4px 12px;
  display: block;
  border-radius: 6px;
  font-size: 14px;
  height: 37px !important;
  line-height: 0;
  border: 1px solid rgb(68, 68, 68);
  margin-right: 10px;
}
#medio-saveTags,
#medio-clearTags,
#medio-copyTags {
  width: 110px;
  background: #27272a;
  padding: 6px 12px;
  display: block;
  border-radius: 6px;
  font-size: 14px;
  height: 42px !important;
  line-height: 0;
  border: 1px solid rgb(68, 68, 68);
  margin-right: 10px;
}
#clear-lyrics.confirmClear {
  background: #e3095d !important;
  border-color: #fa327f !important;
  color: #fff !important;
}
#medioCharactersSelected {
  margin-left: 15px;
}
#medio-copyTags {
  margin-right: 0;
}
#editor.ql-container {
  height: calc(100% - 140px);
  border-color: #3c3c3c;
}
#medioSearchDropdown {
  height: 140px;
  max-height: 140px;
  overflow-x: hidden;
  margin: 10px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  top: 100%;
}
#medioSearchClear {
  cursor: pointer;
}
.medioSearchTag {
  display: inline-block;
  padding: 4px 8px;
  background: #27272a;
  margin-right: 5px;
  margin-bottom: 5px;
}
.medioSearchTag:hover {
  background: #3f3f42;
}
#results {
  height: calc(100% - 140px);
  overflow-x: hidden;
}

select.medioAddTag {
  font-size: 13px;
  padding: 7px 6px;
  color: #a1a1a9;
}
#medioTagBoxTitle,
#searchTags {
  color: #a1a1a9;
}

.deleteMediaTag:hover,
.confirmDelete {
  color: #e3095d;
  opacity: 1;
}

#searchTags::placeholder,
#medioTagBox::placeholder,
#medioTagBoxTitle::placeholder {
  color: #a1a1a9;
}
#searchTags,
#medioTagBox,
#medioTagBoxTitle {
  color: #fff;
}
.medioopentag:hover {
  background: #27272a;
  cursor: pointer;
}

#toolbar {
  padding: 0 !important;
  border: none !important;
  padding-bottom: 10px !important;
}

#editor {
  border-radius: 6px;
  border: 1px solid rgb(60, 60, 60);
}
#toolbar.ql-toolbar {
  border-color: #3c3c3c;
}

.ql-custom-dropdown {
  border: 1px solid #ccc;
  background: white;
  font-size: 14px;
  padding: 5px;
}

.ql-custom-dropdown .ql-picker-item:before {
  content: attr(data-label);
}

.lyric-tab {
  height: calc(100% - 15px);
}
.ql-editor {
  font-size: 21px;
}

#save-lyrics,
#clear-lyrics {
  background: #27272a;
  padding: 4px 12px;
  display: block;
  border-radius: 6px;
  width: auto;
  font-size: 14px;
  height: 37px !important;
  line-height: 0;
  border: 1px solid rgb(68, 68, 68);
}
#save-lyrics:hover,
#clear-lyrics:hover {
  background: #27272a;
  color: #fff;
}
#save-lyrics:focus,
#clear-lyrics:focus,
#save-lyrics:active,
#clear-lyrics:active {
  background: #27272a;
  color: #fff;
}

.deleteMediaSong.confirmDelete {
  color: #e3095d;
}

.deleteMediaSong * {
  pointer-events: none;
}

.open-lyric:hover {
  background: #27272a;
}

.ql-custom-dropdown {
  width: auto;
  background: #27272a;
  padding: 4px 12px;
  border-radius: 6px;
  border-color: #444;
  height: 37px !important;
}

.ql-picker-label {
  padding: 0 !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border-color: #27272a !important;
}

.ql-custom-dropdown .ql-picker-label:before {
  content: attr(data-label);
  color: #fff;
  font-size: 13px;
  position: relative;
  z-index: 99999999999999;
}

.ql-picker-options {
  background: #27272a !important;
  color: #fff !important;
  border-radius: 6px !important;
  border: 1px solid #616060 !important;
  margin-left: -10px !important;
  margin-top: 5px !important;
  padding: 0 !important;
  height: auto !important;
  max-height: calc(100vh - 290px) !important;
}

.ql-picker-options .ql-picker-item:first-child {
  display: none !important;
}

.ql-picker-label svg {
  display: none !important;
}

.ql-picker-item {
  padding: 4px 8px !important;
  border-radius: 6px !important;
  color: #fff !important;
}

.ql-picker-item:hover {
  background: #000 !important;
  border-radius: 6px !important;
  color: #fff !important;
}

.ql-picker-item:hover * {
  color: #fff !important;
}

#medioextraCommands .ql-picker-options {
  margin-left: -107px !important;
}

#medioSettingsButton {
  position: absolute;
  top: 39px;
  right: 54px;
}

.lyric-tab-button.bg-black {
  color: #fff;
}

.lyric-buildertab-button.bg-black {
  color: #fff;
}
