/*
 * © MedioAI.com - Wynter Jones (@AI.MASSIVE)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 */

#medioai-content {
  display: block;
  width: 100%;
  height: 100vh;
  max-width: 1080px;
  background: #000;
  padding: 30px 50px;
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  box-shadow: 20px 20px 60px #000, -20px -20px 60px #000;
}

#medioAI-tagbuilder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999999999;
  transform: translateX(-100%);
  overflow-y: auto;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

#medioAI-songstudio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999999999;
  transform: translateX(-100%);
  overflow-y: auto;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.ql-editor.ql-blank::before {
  color: #787878 !important;
  content: attr(data-placeholder) !important;
}

.ql-picker-options {
  height: 200px;
  overflow-x: hidden;
}

#lyric-title {
  width: 200px;
  padding: 4px 8px;
  font-size: 14px;
  border: 1px solid #3c3c3c;
  border-radius: 6px;
  height: 37px !important;
}
#wordInput,
#medioaskai {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #3c3c3c;
  border-radius: 6px;
  margin-right: 10px;
}
#medioaskai {
  font-size: 18px;
  height: 120px;
}
.rhymingWord:hover {
  background: #27272a;
  color: #fff;
  cursor: pointer;
}
#medioai-findRhyme {
  width: 150px;
  background: #27272a;
  padding: 4px 12px;
  display: block;
  border-radius: 6px;
  font-size: 14px;
  height: 37px !important;
  line-height: 0;
  border: 1px solid rgb(68, 68, 68);
}
#medioai-findRhymeClear {
  width: 110px;
  background: #27272a;
  padding: 4px 12px;
  display: block;
  border-radius: 6px;
  font-size: 14px;
  height: 37px !important;
  line-height: 0;
  border: 1px solid rgb(68, 68, 68);
  margin-right: 10px;
}
#medio-saveTags,
#medio-clearTags,
#medio-copyTags {
  width: 110px;
  background: #27272a;
  padding: 6px 12px;
  display: block;
  border-radius: 6px;
  font-size: 14px;
  height: 42px !important;
  line-height: 0;
  border: 1px solid rgb(68, 68, 68);
  margin-right: 10px;
}
#medioAskAIQuestion,
#medioWriteSong {
  background: #25cc8c;
  padding: 6px 12px;
  display: flex;
  border-radius: 6px;
  font-size: 16px;
  border: 1px solid #4df6b5;
  font-weight: 800;
}
#medioAskChatList,
#medioSongChatList,
#medioSongRollDice,
#medioSongClear,
#medioaiSettings,
#medioaiTools,
#medioaiChallenge,
#medioaiRadio {
  background: #242424;
  padding: 6px 12px;
  display: flex;
  border-radius: 6px;
  font-size: 16px;
  border: 1px solid #474747;
  font-weight: 800;
}

#medioaiRadio span {
  font-size: 11px;
}

#medioaiSendMessage {
  background: #25cc8c;
  padding: 6px 32px;
  display: block;
  border-radius: 6px;
  font-size: 18px;
  border: 1px solid #4df6b5;
  font-weight: 800;
  margin-left: 20px;
}
#medioaiMessageBox {
  height: 100%;
  background: #212121;
  border: 1px solid #474747;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
}
#medioaichat {
  height: calc(100vh - 300px);
  overflow-x: hidden;
}
.medioChatItem:hover {
  background: #242424;
  cursor: pointer;
}
.medioChatItem.confirmDelete {
  color: #fff;
}
.medioChatDelete {
  font-size: 19px;
  padding-right: 10px;
  opacity: 0.5;
  z-index: 999999;
  position: relative;
}
.medioChatDelete:hover {
  opacity: 1;
}
.medioChatItem.confirmDelete .medioChatDelete {
  color: #e3095d;
}
.medioaimessage {
  border: 1px solid #474747;
  padding: 25px;
  padding-top: 45px;
  border-radius: 8px;
  background: #212121;
  margin-bottom: 15px;
  position: relative;
}
.medioaimessage.medioaiuser {
  border-left: 3px solid #4df6b5;
  width: 60%;
  margin-left: auto;
  margin-right: 15px;
}
.medioaimessage.medioaiagent,
.medioaimessage.medioaiassistant {
  border-left: 3px solid #d74df6;
  width: 70%;
  margin-right: auto;
}
.medioaimessage.medioaiagent::before,
.medioaimessage.medioaiassistant::before {
  content: 'AI Co-Writer';
  background: #d74df6;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #6a167d;
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
  padding: 6px 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.medioaimessage.medioaiuser::before {
  content: 'You';
  background: #4df6b5;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #125d40;
  font-weight: bold;
  font-size: 14px;
  padding: 6px 10px;
  margin-right: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.medioaimessage h1,
.medioaimessage h2,
.medioaimessage h3,
.medioaimessage h4,
.medioaimessage h5,
.medioaimessage h6,
.medioaimessage p,
.medioaimessage div,
.medioaimessage ul {
  color: #fff;
  margin-bottom: 15px;
}
.medioaimessage p strong {
  color: #ffc777;
}
.medioaimessage *:last-child {
  margin-bottom: 0;
}
.medioaimessage h1,
.medioaimessage h2,
.medioaimessage h3,
.medioaimessage h4 {
  font-weight: bold;
}
.medioaimessage h1 {
  font-weight: bold;
  font-size: 1.7em;
}
.medioaimessage h2 {
  font-weight: bold;
  font-size: 1.6em;
}
.medioaimessage h3 {
  font-weight: bold;
  font-size: 1.4em;
}
.medioaimessage h4 {
  font-weight: bold;
  font-size: 1.2em;
}
.medioaimessage h5 {
  font-size: 0.8em;
}
.medioaimessage h6 {
  font-size: 0.5em;
}
.medioaimessage ol {
  list-style: decimal;
  margin-left: 35px;
}
.medioaimessage ul {
  list-style: disc;
  margin-left: 35px;
}
.medioaimessage li {
  margin-bottom: 15px;
}
.medioai-highlightyellow {
  color: #7c4e0e !important;
  background: #ffc777 !important;
  padding: 4px 7px;
  border-radius: 5px;
}
.medioai-highlightyellow * {
  color: #7c4e0e;
}

.medioai-highlightgrey {
  color: #fbfbfb;
  background: #363636;
  padding: 4px 7px;
  border-radius: 5px;
}
.medioai-highlightgrey * {
  color: #fbfbfb;
}

.medioai-highlightlyrics {
  color: #fff !important;
  background: #000000;
  padding: 4px 7px;
  border-radius: 5px;
}
.medioai-highlightlyrics * {
  color: #fff !important;
}
.medioai-highlightred {
  color: #621515;
  background: #fc7b7b;
  padding: 4px 7px;
  border-radius: 5px;
}
.medioai-highlightred * {
  color: #621515;
}

.medioai-highlightgreen {
  background: #25cc8c;
  display: inline-block;
  padding: 4px 7px;
  border-radius: 5px;
  color: #ffffff;
}
.medioai-highlightgreen * {
  color: #ffffff;
}

.medioai-highlightgrey {
  background: #363636;
  display: inline-block;
  padding: 4px 7px;
  border-radius: 5px;
  color: #ffffff;
}
.medioai-highlightgrey * {
  color: #ffffff;
}

#medioSuggestions {
  height: calc(100vh - 480px);
  overflow-x: hidden;
}
.medioAskAIPremadeQuestion {
  cursor: pointer;
  opacity: 0.5;
}
.medioAskAIPremadeQuestion:hover {
  background: #27272a;
  color: #fff;
  opacity: 1;
}
#clear-lyrics.confirmClear,
#medioSongClear.confirmClear {
  background: #e3095d !important;
  border-color: #fa327f !important;
  color: #fff !important;
}
#clear-lyrics * {
  pointer-events: none;
}
#medio-clearTags.confirmClear {
  background: #e3095d !important;
  border-color: #fa327f !important;
  color: #fff !important;
}
#medioCharactersSelected {
  margin-left: 15px;
}
#medio-copyTags {
  margin-right: 0;
}
#editor.ql-container {
  height: calc(100% - 140px);
  border-color: #3c3c3c;
}
#medioSearchDropdown {
  height: 140px;
  max-height: 140px;
  overflow-x: hidden;
  margin: 10px 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
  top: 100%;
}
#medioSearchClear {
  cursor: pointer;
}
.medioSearchTag {
  display: inline-block;
  padding: 4px 8px;
  background: #27272a;
  margin-right: 5px;
  margin-bottom: 5px;
}
.medioSearchTag:hover {
  background: #3f3f42;
}
#results {
  height: calc(100% - 140px);
  overflow-x: hidden;
}

select.medioAddTag {
  font-size: 13px;
  padding: 7px 6px;
  color: #a1a1a9;
}
#medioTagBoxTitle,
#searchTags {
  color: #a1a1a9;
}

.deleteMediaTag:hover,
.confirmDelete {
  color: #e3095d;
  opacity: 1;
}

#searchTags::placeholder,
#medioTagBox::placeholder,
#medioTagBoxTitle::placeholder {
  color: #a1a1a9;
}
#searchTags,
#medioTagBox,
#medioTagBoxTitle {
  color: #fff;
}
.medioopentag:hover {
  background: #27272a;
  cursor: pointer;
}

#toolbar {
  padding: 0 !important;
  border: none !important;
  padding-bottom: 10px !important;
}

#editor {
  border-radius: 6px;
  border: 1px solid rgb(60, 60, 60);
}
#toolbar.ql-toolbar {
  border-color: #3c3c3c;
}

.ql-custom-dropdown {
  border: 1px solid #ccc;
  background: white;
  font-size: 14px;
  padding: 5px;
}

.ql-custom-dropdown .ql-picker-item:before {
  content: attr(data-label);
}
.ql-clipboard {
  position: fixed !important;
  left: 50% !important;
  top: 50% !important;
}
.quillWrapper {
  overflow: unset !important;
  height: calc(100vh - 300px) !important;
}
.ql-container {
  height: calc(100vh - 300px) !important;
}
.ql-editor {
  font-size: 21px;
  height: calc(100vh - 300px);
}

#save-lyrics,
#clear-lyrics {
  background: #27272a;
  padding: 4px 12px;
  display: flex;
  border-radius: 6px;
  width: auto;
  font-size: 14px;
  height: 37px !important;
  line-height: 0;
  border: 1px solid rgb(68, 68, 68);
}
#save-lyrics:hover,
#clear-lyrics:hover {
  background: #27272a;
  color: #fff;
}
#save-lyrics:focus,
#clear-lyrics:focus,
#save-lyrics:active,
#clear-lyrics:active {
  background: #27272a;
  color: #fff;
}

.deleteMediaSong.confirmDelete {
  color: #e3095d;
}

.deleteMediaSong * {
  pointer-events: none;
}

.open-lyric:hover {
  background: #27272a;
}

.ql-custom-dropdown {
  width: auto;
  background: #27272a;
  padding: 4px 12px;
  border-radius: 6px;
  border-color: #444;
  height: 37px !important;
}

.ql-picker-label {
  padding: 0 !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border-color: #27272a !important;
}

.ql-custom-dropdown .ql-picker-label:before {
  content: attr(data-label);
  color: #fff;
  font-size: 13px;
  position: relative;
  z-index: 99999999999999;
}

.ql-picker-options {
  background: #27272a !important;
  color: #fff !important;
  border-radius: 6px !important;
  border: 1px solid #616060 !important;
  margin-left: -10px !important;
  margin-top: 5px !important;
  padding: 0 !important;
  height: auto !important;
  max-height: calc(100vh - 290px) !important;
}

.ql-picker-options .ql-picker-item:first-child {
  display: none !important;
}

.ql-picker-label svg {
  display: none !important;
}

.ql-picker-item {
  padding: 4px 8px !important;
  border-radius: 6px !important;
  color: #fff !important;
}

.ql-picker-item:hover {
  background: #000 !important;
  border-radius: 6px !important;
  color: #fff !important;
}

.ql-picker-item:hover * {
  color: #fff !important;
}

#medioextraCommands .ql-picker-options {
  margin-left: -107px !important;
}

#medioSettingsButton {
  position: absolute;
  top: 39px;
  right: 54px;
}

.lyric-tab-button.bg-black {
  color: #fff;
}

.lyric-buildertab-button.bg-black {
  color: #fff;
}

#medioPagination {
  user-select: none;
}

#medioPagination button {
  background: #27272a;
  color: #fff;
  border: 1px solid #444;
  border-radius: 6px;
  padding: 4px 8px;
  margin-right: 5px;
}
#medioPageCount {
  padding: 0 20px;
  font-size: 13px;
  color: #ffffff71;
  text-align: center;
}

.medioListContainer {
  height: calc(100vh - 280px);
  overflow-x: hidden;
}

.medioDisabled {
  opacity: 0.4;
  pointer-events: none;
}

.medioaiLabel {
  color: #d1d1d4;
  font-size: 14px;
  display: block;
  margin-bottom: 7px;
}

.medioaiTextBox {
  width: 100%;
  height: 80px;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #3c3c3c;
  border-radius: 6px;
  margin-bottom: 7px;
}

.medioaiSelectBox,
.medioaiInputBox {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #3c3c3c;
  border-radius: 6px;
  margin-bottom: 7px;
}

.medioai-copylyrics {
  background: #27272a;
  border: 1px solid #333336;
  display: block;
  border-radius: 6px;
  padding: 25px;
  margin: 10px 0;
}

.medioai-summary {
  background: #3b3b3e;
  border: 1px solid #4e4e52;
  display: block;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px;
  margin: 10px 0;
}
.medioai-summary * {
  margin-bottom: 5px !important;
}

#medioSongRollDice.disabled {
  opacity: 0.4;
}
#medioAITrackCount.disabled {
  opacity: 0.4;
}
#mediowizard {
  height: calc(100vh - 230px);
  overflow-x: hidden;
}
#medioaiClosePlaylist {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

#medioAI-challenge {
  width: 600px;
  margin: 0 auto;
  padding: 100px;
  border-radius: 10px;
  z-index: 99999999999;
  box-shadow: 20px 20px 60px #000, -20px -20px 60px #000;
  top: 50px;
  text-align: center;
}
#medioAI-challenge-close {
  font-size: 34px;
}

#medioAISeedOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999999;
  background: rgba(0, 0, 0, 0.5);
}
#medioAISeedModal {
  width: 600px;
  margin: 0 auto;
  padding: 50px 30px;
  border-radius: 10px;
  z-index: 9999999999999;
  box-shadow: 20px 20px 60px #000, -20px -20px 60px #000;
  top: 50px;
  position: fixed;
}

#medio-radio {
  width: 450px;
  background: #000;
  box-shadow: 20px 20px 60px #000, -20px -20px 60px #000;
  border: 1px solid #ffffff3e;
  z-index: 999999999999;
  position: fixed;
  top: 20px;
  right: auto;
  left: 50%;
  margin-left: -225px;
  padding: 40px;
  border-radius: 10px;
  color: #fff;
}

#medio-radio-topactions {
  position: absolute;
  top: 3px;
  right: 8px;
}

#medio-radio-ban {
  cursor: pointer;
  margin-left: 10px !important;
  color: #ffffff80;
}
#medio-radio-ban:hover {
  color: #ffffff;
}

#medio-radio-ban.confirmBan {
  color: #e3095d;
}

#medio-radio-close {
  cursor: pointer;
}

#medio-radio .track-cover {
  position: relative;
  margin-bottom: 15px;
  height: 370px;
  overflow: hidden;
}
#medio-radio .track-cover img {
  width: 100%;
  border-radius: 10px;
}
#medio-radio .track-cover:hover .track-play {
  display: flex;
}

#medio-radio .track-cover .track-play,
#medio-radio .track-cover .track-pause {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000006a;
  display: none;
  align-items: center;
  font-size: 6em;
  justify-content: center;
  cursor: pointer;
}
#medio-radio.playing .track-cover:hover .track-pause {
  display: flex;
}
#medio-radio.playing .track-cover:hover .track-play {
  display: none;
}

#medio-radio .medio-radio-pause {
  font-size: 49px;
  margin-right: 10px !important;
}
#medio-radio .medio-radio-play {
  font-size: 49px;
  margin-right: 10px !important;
}
#medio-radio .medio-radio-next {
  font-size: 26px;
}

#medio-radio .medio-radio-controls {
  position: relative;
}
#medio-radio .medio-radio-progress {
  height: 7px;
  margin: 8px 0;
  background: #212a35;
  border-radius: 17px;
  position: relative;
  width: 100%;
}

#medio-radio .medio-radio-progress .audio-radio-bar {
  height: 100%;
  background: #e3095d;
  border-radius: 17px;
  position: absolute;
  top: 0;
  left: 0;
}

#dj-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000b5;
  z-index: 99999999999;
  padding-top: 100px;
  font-size: 20px;
  display: block;
  text-align: center;
  border-radius: 10px;
}

#dj-text {
  height: 200px;
  width: 60%;
  margin: 0 auto;
  overflow-x: hidden;
  font-size: 11px;
  line-height: 1.6em;
  margin-top: 10px;
  color: #ffffffd0;
}

#dj-text p {
  margin-bottom: 10px;
}

#dj-text .highlighted-track {
  color: #ffffff;
  border-radius: 4px;
  padding: 2px 5px;
  background: #070003da;
}

.fade-in {
  animation: fadeIn 1.4s forwards;
}

.fade-out {
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#medio-radio-building svg {
  font-size: 40px;
}
#radioHelpDesc {
  display: none;
}
#radioHelp {
  position: relative;
  cursor: help;
}

#radioHelp svg {
  font-size: 23px;
}
#radioHelp:hover #radioHelpDesc {
  display: block;
  position: absolute;
  top: -275px;
  left: 30px;
  width: 310px;
  padding: 20px;
  background: #0c0f14;
  border: 1px solid #ffffff3e;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  z-index: 999999999999;
}

#radioHelp:hover #radioHelpDesc p {
  color: #fff;
  font-size: 12px;
  margin-bottom: 10px;
}

#radioHelp:hover #radioHelpDesc p strong {
  color: #26c282;
}

#medio-radio-loading,
#medio-radio-commercial,
#medio-radio-caller {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000b5;
  z-index: 999999999;
  padding-top: 100px;
  font-size: 26px;
  display: block;
  text-align: center;
  border-radius: 20px;
}

#medio-radio-loading svg,
#medio-radio-commercial svg,
#medio-radio-caller svg {
  font-size: 40px;
  display: block;
  margin: 0 auto;
}

#medio-radio-close {
  z-index: 999999999999999;
}

#medio-radio {
  cursor: move;
}

#medio-radio * {
  cursor: auto;
}

.bg-gray-1000 {
  background: #1a202b;
  border-color: #293141;
}

.medio-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  cursor: pointer;
}

.medio-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.medio-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #1a202b;
  transition: 0.4s;
}

.medio-slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 3px;
  background-color: #6f7d9a;
  transition: 0.4s;
}

input:checked + .medio-slider {
  background-color: #23cb8d;
}

input:focus + .medio-slider {
  box-shadow: 0 0 1px #23cb8d;
}

input:checked + .medio-slider:before {
  transform: translateX(14px);
  background-color: #96ffd8;
}

.medio-slider.medio-round {
  border-radius: 34px;
  border: 1px solid #262d3b;
}

.medio-slider.medio-round:before {
  border-radius: 50%;
}

#medio-radio-record-toggle {
  background: #1a1f2a;
  color: #4f5b74;
}
#medio-radio-record-toggle * {
  pointer-events: none;
}
#medio-radio-record-toggle.recordActive {
  background: #3b0d1c;
  color: #e3095d;
  box-shadow: 0 0 0 2px #e3095d !important;
}
#medio-radio-record-toggle.recordActive svg {
  color: #e3095d !important;
}

#medio-toggle-shuffle {
  padding: 0 5px;
  padding-top: 11px;
}
#medio-toggle-shuffle * {
  pointer-events: none;
}

#medio-radio-length.disabled {
  opacity: 0.4;
}

#medioHasHeard,
#medioHasNotHeard,
#medio-radio-ban {
  position: relative;
}
.medio-tooltip {
  display: none;
  position: absolute;
  top: -10px;
  left: 20px;
  background: #0c0f14;
  border: 1px solid #3c3c3c;
  box-shadow: 0 0 10px #000;
  color: #fff;
  padding: 8px;
  width: 180px;
  cursor: help;
  text-align: center;
  font-size: 11px;
  border-radius: 5px;
  z-index: 999999999999;
}

#medioHasHeard:hover .medio-tooltip,
#medioHasNotHeard:hover .medio-tooltip,
#medio-radio-ban:hover .medio-tooltip {
  display: block;
}

#medio-follow {
  position: relative;
  font-size: 12px;
  color: #b0b0c0;
  cursor: pointer;
  background-color: rgb(34 41 53);
  border-radius: 5px;
  padding: 3px 6px;
  margin-left: 12px;
}

#medio-follow.medio-following {
  color: #1ccfa5;
  box-shadow: 0 0 0 1px #074e3d, 0 0 0 2px #1ccfa5;
}

.text-light-gray {
  color: rgb(117, 131, 159);
}

.text-light-gray.medio-radio-next {
  color: rgb(166, 180, 208);
}

#medio-radio.medio-radio-small .track-cover {
  display: none !important;
}
